{{ freebsd_repos_name }}: {
  url: "{{ freebsd_repos_url }}",
  mirror_type: "{{ freebsd_repos_mirror_type }}",
  signature_type: "{{ freebsd_repos_mirror_signature_type }}",
  enabled: yes
  priority: {{ freebsd_repos_priority }}
}
